#****************************************************************
#Copyright (c) 2009  Larence Livermore National Security (LLNS)
#All rights reserved.
#****************************************************************
#
# Organization: Lawrence Livermore National Lab (LLNL)
#  Directorate: Computation
#   Department: Computing Applications and Research
#     Division: S&T Global Security
#       Matrix: Atmospheric, Earth and Energy Division
#      Program: PCMDI
#      Project: Earth Systems Grid
# First Author: Gavin M. Bell (gavin@llnl.gov)
#
#  Description:
#
#     Files that git should ignore...
#****************************************************************

TAGS
.ant-targets-build.xml
*~
*.cache
*.DS_Store
*.a
*.o
*.class
*.pyc
*.egg
*#*
*.md5
semantic.cache*
generated/
/build
/dist
/docs-generated
/lib/fetched
/.cobertura.ser
/eclipse
/backup
/web/WEB-INF/
/web/META-INF/
/src/c/esgf-dashboard-ip/bin/ip.service.local.in
/src/c/esgf-dashboard-ip/bin/ip.service.local
#/src/c/esgf-dashboard-ip/src/val-ip.sh
#/src/c/esgf-dashboard-ip/src/val-ip2.sh
/src/c/GeoIP-1.4.8/data/GeoLiteCity.dat
#/src/c/esgf-dashboard-ip/configure.sh
#/src/c/esgf-dashboard-ip/src/val-iplookup.sh
/src/c/esgf-dashboard-ip/Makefile
/src/c/esgf-dashboard-ip/bin/ip.service
/src/c/esgf-dashboard-ip/config.h
/src/c/esgf-dashboard-ip/config.log
/src/c/esgf-dashboard-ip/config.status
/src/c/esgf-dashboard-ip/src/.deps/
/src/c/esgf-dashboard-ip/src/Makefile
/src/c/esgf-dashboard-ip/src/esgf-dashboard-ip
/src/c/esgf-dashboard-ip/src/esgf-iplookup
/src/c/esgf-dashboard-ip/stamp-h1
#src/c/esgf-dashboard-ip/src/stats_storage_engine/
/src/c/esgf-dashboard-ip/src/stats_storage_engine/raw_stats.dat
/src/c/esgf-dashboard-ip/src/stats_storage_engine/raw_stats.dat.old
/src/c/esgf-dashboard-ip/src/stats_storage_engine/start_stats_time.dat
/src/c/esgf-dashboard-ip/src/stats_storage_engine/start_stats_time.dat.old
/src/c/esgf-dashboard-ip/src/stats_storage_engine/realtime
/src/c/esgf-dashboard-ip/src/stats_storage_engine/display
/src/c/esgf-dashboard-ip/src/stats_storage_engine/test


################################
#Generated from templated files
################################
src/python/esgf/setup.py
src/python/esgf/scripts/esgf_dashboard_initialize
bin/post.manif
