/* Tag Cloud CSS */
.x-cloud  {
    min-height:100px;
    border:1px solid #CCC;
	padding: 15px;
	line-height: 2.5em;
    width: 50%;
    }
.x-cloud-item  {
    margin:0 0.2em;
	display:inline;
	}
.x-cloud-item a  {
	padding:5px;
	}
.x-cloud-item a:hover  {
	color:#002a85;
	}
.x-cloud-item-selected a  {
    background-color: #316ac5;
    color:#FFF;
    text-decoration:none;
    }
.x-cloud-item-selected a:hover  {
    cursor:default;
    color:#FFF;
    }
.x-cloud-item.smallest { font-size: 0.65em; }
.x-cloud-item.small { font-size: 0.85em; }
.x-cloud-item.medium { font-size: 1.0em; }
.x-cloud-item.large { font-size: 1.35em; }
.x-cloud-item.largest { font-size: 2.0em; } 