<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
	<node ipNodeAddress = "localhost">
		<datamart name = "cross_dmart_project_host_time" path="crossproject/projecttime" timestamp = "0"/>
		<datamart name = "cross_dmart_project_host_geolocation" path="crossproject/projectgeolocation" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_clients_host_time_geolocation" path="obs4mips/clients" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_variable_host_time" path="obs4mips/variable" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_source_host_time" path="obs4mips/source" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_realm_host_time" path="obs4mips/realm" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_dataset_host_time" path="obs4mips/dataset" timestamp = "0"/>
		<datamart name = "cmip5_dmart_experiment_host_time" path="cmip5/experiment" timestamp = "0"/>
		<datamart name = "cmip5_dmart_model_host_time" path="cmip5/model" timestamp = "0"/>
		<datamart name = "cmip5_dmart_variable_host_time" path="cmip5/variable" timestamp = "0"/>
		<datamart name = "cmip5_dmart_dataset_host_time" path="cmip5/dataset" timestamp = "0"/>
		<datamart name = "cmip5_dmart_clients_host_time_geolocation" path="cmip5/clients" timestamp = "0"/>
	</node>
	<node ipNodeAddress = "esgf-node.jpl.nasa.gov">
		<datamart name = "cross_dmart_project_host_time" path="crossproject/projecttime" timestamp = "0"/>
		<datamart name = "cross_dmart_project_host_geolocation" path="crossproject/projectgeolocation" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_clients_host_time_geolocation" path="obs4mips/clients" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_variable_host_time" path="obs4mips/variable" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_source_host_time" path="obs4mips/source" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_realm_host_time" path="obs4mips/realm" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_dataset_host_time" path="obs4mips/dataset" timestamp = "0"/>
		<datamart name = "cmip5_dmart_experiment_host_time" path="cmip5/experiment" timestamp = "0"/>
		<datamart name = "cmip5_dmart_model_host_time" path="cmip5/model" timestamp = "0"/>
		<datamart name = "cmip5_dmart_variable_host_time" path="cmip5/variable" timestamp = "0"/>
		<datamart name = "cmip5_dmart_dataset_host_time" path="cmip5/dataset" timestamp = "0"/>
		<datamart name = "cmip5_dmart_clients_host_time_geolocation" path="cmip5/clients" timestamp = "0"/>
	</node>
</configuration>
