<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
	<node ipNodeAddress = "<restapis fqdn>" port="<port>" datanode="<fqdn>">
		<datamart name = "cross_dmart_project_host_time" path="cross-project/stats-by-time" timestamp = "0"/>
		<datamart name = "cross_dmart_project_host_geolocation" path="cross-project/stats-by-space" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_variable_host_time" path="obs4mips/stats-by-variable" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_source_host_time" path="obs4mips/stats-by-source" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_realm_host_time" path="obs4mips/stats-by-realm" timestamp = "0"/>
		<datamart name = "obs4mips_dmart_dataset_host_time" path="obs4mips/stats-by-dataset" timestamp = "0"/>
		<datamart name = "cmip5_dmart_experiment_host_time" path="cmip5/stats-by-experiment" timestamp = "0"/>
		<datamart name = "cmip5_dmart_model_host_time" path="cmip5/stats-by-model" timestamp = "0"/>
		<datamart name = "cmip5_dmart_variable_host_time" path="cmip5/stats-by-variable" timestamp = "0"/>
		<datamart name = "cmip5_dmart_dataset_host_time" path="cmip5/stats-by-dataset" timestamp = "0"/>
		<datamart name = "cmip6_dmart_experiment_id_host_time" path="cmip6/stats-by-experiment-id" timestamp = "0"/>
		<datamart name = "cmip6_dmart_variable_host_time" path="cmip6/stats-by-variable" timestamp = "0"/>
		<datamart name = "cmip6_dmart_dataset_host_time" path="cmip6/stats-by-dataset" timestamp = "0"/>
		<datamart name = "cmip6_dmart_source_id_host_time" path="cmip6/stats-by-source-id" timestamp = "0"/>
		<datamart name = "all_data_usage" path="historical-stats/all-projects" timestamp = "0"/>
		<datamart name = "cmip5_data_usage" path="historical-stats/cmip5-project" timestamp = "0"/>
		<datamart name = "obs4mips_data_usage" path="historical-stats/obs4mips-project" timestamp = "0"/>
		<datamart name = "cordex_data_usage" path="historical-stats/cordex-project" timestamp = "0"/>
		<datamart name = "all_data_usage_continent" path="historical-stats-by-continent/all-projects" timestamp = "0"/>
		<datamart name = "cmip5_data_usage_continent" path="historical-stats-by-continent/cmip5-project" timestamp = "0"/>
		<datamart name = "obs4mips_data_usage_continent" path="historical-stats-by-continent/obs4mips-project" timestamp = "0"/>
		<datamart name = "cordex_data_usage_continent" path="historical-stats-by-continent/cordex-project" timestamp = "0"/>
	</node>
</configuration>
