<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
        <node ipNodeAddress = "esgf-data.jpl.nasa.gov" port="0" datanode="esgf-data.jpl.nasa.gov">
                <access_logging name = "downloads_info" path="downloadsinfo/get-downloads-info/xml?download_date" timestamp = "0"/>
        </node>
</configuration>
